HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/log/
/.idea/


service-logging/*.iml
service-logging/target/

tg-client1/*.iml
tg-client1/target/

tg-client1-api/*.iml
tg-client1-api/target/

tg-client2/*.iml
tg-client2/target/

tg-common/*.iml
tg-common/target/

tg-config/*.iml
tg-config/target/

tg-discovery/*.iml
tg-discovery/target/